*
{
    cursor: default;
}

.column {
    display: inline-block;
    font-family:'Gill Sans';
    height: 440px;
    width: 400px;
    background-color: #80808040;
    margin: 10px;
    vertical-align: top;
    font-size:xx-large;
}

main {
    text-align: center;
}

li:nth-child(3n) {
    color: red;
}

li:nth-child(3n+1) {
    color: green;
}

li:nth-child(3n+2) {
    color: orange;
}

li:hover {
    opacity: 70%;
}
.column:hover
{
    background-color: #80808030;
}
.column:hover>h3
{
    color: #00000099;
}